:root {
  --Farbe1: #ffffff;/*weiß - Kopfzeile*/
	--Farbe2: #aed7fe; /*blau - Kopfzeile*/
	--Farbe3: #dfeffe; /*blass*/
  --Farbe4: #aed7fe; /*kräftig*/
  --Farbe5: #e7e4e4; /*grau*/
}
body {
	font-size:13px;
}
td.col_BenutzerAbo td.col_Anzahl:hover div:before {
	padding:10px;border:1px solid black;position:absolute;margin-left:-680px;margin-top:-180px;
	content:" ";
	background:url(../img/solawi_jede_woche_abo.png);
	z-index: 9999;
	width: 660px;
	height: 600px;
}
table, td {
	border: 1px solid #999;
	border-collapse: collapse;
	padding: 3px;
}

div#editor.editBenutzer {
    max-height: 750px;
    overflow: scroll;
}

.PivotDepotBestellung>tr:first-child>td:first-child>span, .PivotSolawiBestellung>tr:first-child>td:first-child>span {
	writing-mode: horizontal-tb !important;
	font-size: 1.1em;
	font-weight: bold;
}

.PivotDepotBestellung>tr:first-child>td:first-child, .PivotSolawiBestellung>tr:first-child>td:first-child {
  background-color: var(--Farbe1);
  vertical-align: bottom;
  text-align: left;
}
.PivotDepotBestellung>tr:first-child>td:nth-child(2n), .PivotSolawiBestellung>tr:first-child>td:nth-child(2n){
	background-color: var(--Farbe2);
}

.PivotDepotBestellung>tr:first-child>td, .PivotSolawiBestellung>tr:first-child>td {
  background-color: var(--Farbe1);
  vertical-align: bottom;
  text-align: center;
}

.PivotDepotBestellung>tr:first-child>td>span.TableHead, .PivotSolawiBestellung>tr:first-child>td>span.TableHead{
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  height: 6.5cm;
  width:1.2em;
  padding: 0 1px;
}

.PivotDepotBestellung>tr:nth-child(2n)>td:nth-child(2n), .PivotSolawiBestellung>tr:nth-child(2n)>td:nth-child(2n){
	background-color: var(--Farbe3);
}
.PivotDepotBestellung>tr:nth-child(2n+3)>td:nth-child(2n), .PivotSolawiBestellung>tr:nth-child(2n+3)>td:nth-child(2n){
	background-color: var(--Farbe4);
}
.PivotDepotBestellung>tr:nth-child(2n)>td:nth-child(2n+1), .PivotSolawiBestellung>tr:nth-child(2n)>td:nth-child(2n+1){
	background-color: var(--Farbe5);
}
/*Logout */

div.hat_tausch {
  font-weight:bolder;
}














select.editor.inp_Depot_ID, select.editor.inp_Role_ID, input.editor.inp_Passwort,
	input.editor.inp_Cookie, input.editor.inp_PunkteStand, select.editor.inp_PunkteWoche,
	table.Benutzer td.col_BenutzerAbo td.col_Woche, .BenutzerBestellView .col_Benutzer_ID,
	.BenutzerBestellView .col_Depot_ID, .BenutzerBestellView .col_Produkt_ID,
	.DepotBestellView .col_Depot_ID, .DepotBestellView .col_Produkt_ID,
	.GesamtBestellView .col_Produkt_ID, .BenutzerView .col_Depot_ID,
	.BenutzerView .col_Role_ID, .BenutzerBestellungView .col_Benutzer_ID,
	.BenutzerBestellungView .col_Depot_ID, .BenutzerBestellungView .col_Produkt_ID {
	display: none;
}

div.fixedHeaderTable>table>tr:first-child>td {
	position: -webkit-sticky; /* for Safari */
	position: sticky;
	top: 0;
	background: #EEE;
	z-index: 222;
	box-shadow: 0px 0px 0px 1px #999;
}

div.fixedHeaderTable>table>tr:nth-child(1n+2)>td:first-child {
	position: -webkit-sticky; /* for Safari */
	position: sticky;
	left: 0;
	background: #EEE;
	z-index: 111;
	box-shadow: 0px 0px 0px 1px #999;
}

.col_ErstellZeitpunkt, .col_AenderZeitpunkt, .col_AenderBenutzer_ID {
	font-size: 75%;
	color: #999;
}

.weektable {
	font-size: 11.8px;
	text-align: center;
}

.weektable td {
	cursor: pointer;
}

.weektable td.inactive:hover, .weektable td span:hover, .weekWeek:hover,
	.weektable a:hover {
	background-color: orange;
}

.weektable td.active {
	background-color: yellow;
}

.weektable td.active:hover, .weekWeek:hover, .weektable a:hover {
	background-color: aqua;
}
